.chat-container{
    display: flex;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;

}
.chat-container h1{
  color:white;
  margin-top: 50px;
  border-bottom: 4px solid rgb(43, 41, 41);
  
  
}
.message-container{
    display: flex;
    align-items: center;
    height: 50vh;
    border:2px solid white;
    width: 60%;
    margin-bottom: 100px;
    color:rgb(215, 191, 191);
    text-align: center;  
    background-color: aliceblue; 
    border-radius: 10px; 
}
.nav-chat{
  width: 100vw;
}
input{
    width: 90%;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 10px;
}
button{
  height:62px;
  border-radius: 5px;
}
.chat-case{
  display:flex;
}
.sidebar{
  width:20%;
  background-color: #211f1f;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar h3{
  text-align: center;
}
.sidebar p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  color:rgb(161, 183, 194);
}
.sender-container{
  display: flex ;
  align-items: center;
  width:80%;
  
}
.message-container{
  width:80%;
}
.sidebar ul{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}
.sidebar ul li{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  background-color: #1a1a1a;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}