.projects-container {
  display: flex;
  width:100%;
  height:100vh;
  background-color: black;
  flex-direction: column;
  
}
.projects-container h1{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
}
.card{
  width:100%;
  display: flex;
}
.projects{
  
  display: flex;

}
.projects-card{
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.projects-card h3 p link{
  color:#f5f5f5;
}
.projects-card img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.projects-card h3{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.projects-card p {
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  color: black;
  text-align: center;
}
.projects-card a {
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  color: rgb(34, 15, 163);
  text-align: center;
}