.services{
  height: 100vh;
  background-color: rgb(209, 240, 230);
  background-image: url("https://free4kwallpapers.com/uploads/originals/2020/06/28/old-stories-wallpaper.jpg");
  align-items: center;
  justify-content: center ;
  display: flex;
}
.services__container{
  width:30%;
  margin: 0 auto;
  display: flex;
  background:red;
  align-items: center;
  flex-direction: column;
  height:600px;
  justify-content: center;
}
.icon-story{
  height: 100px;
  width: 100px;
  color:aqua;
}
.services__container h3{
  color: white;
  font-size: 2em;
  font-weight: 700;
  font-family: cursive;
  margin-bottom: 50px;
}
.services__container p{
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  font-family: roboto;
  height : 40%;
  text-align: center;
}
button{
  background-color: rgb(91, 145, 127);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: roboto;
  margin: 10px 10px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(204, 222, 216);
}
.chat{
  background-color: rgb(154, 81, 81);
}
@media screen and (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .services__container {
    width: 100%;
    height: 600px; /* Adjusted height to accommodate the content */
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 4px solid white;
  }

  .icon-story {
    height: 80px; /* Adjusted height for the icon */
    width: 80px; /* Adjusted width for the icon */
    color: aqua;
  }

  .services__container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .services__container p {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }
}

